.bnts {
    text-align: center;
    margin-top: 50px;
}

.efeito {
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0ms ease;
    background-color: rgb(255, 255, 255);

}

.efeito1 {
    background-color: #28348A;
}

.efeito:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(158, 221, 230, 0.3);
    border-radius: 10px;
    transition: all 0s ease;
}


.efeito-1:hover::before {
    width: 100%;
}